<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DAL.Settings>
            <setting name="SQLConnect" serializeAs="String">
                <value>Data Source=MSI-PC;Initial Catalog=QLDT_LK;User ID=sa;Password=sa1233</value>
            </setting>
        </DAL.Settings>
    </userSettings>
</configuration>